.tabheader{
  border-radius: 8px 8px 0 0;
  background: rgba(217, 217, 217, 0.78);
}
.tabheader__items {
  display: flex;
  overflow: hidden;
}
.tabheader__item {
  position: relative;
  flex: 1;
  border: none;
  background: transparent;
  padding: 10px 25px;
  border: 1px solid #ddd;
  border-bottom: 0;
  background:  #eeeeee;
  color: #444;
  outline: none;
}
.tabheader__item:hover {
  background-color: #dddddd;
}
.tabheader__item_active {
  background: #ffffff;
}
.tabheader__item_new::after {
  content: '';
  position: absolute;
  background-image: url(../images/icons/new.png);
  background-size: contain;
  background-repeat: no-repeat;
  width: 30px;
  height: 13px;
  right: 10px;
  top: 3px;
  border-radius: 5px;
}
.tabheader__item:first-child {
  border-radius: 8px 0 0 0;
}
.tabheader__item:last-child {
  border-radius: 0 8px 0 0;
}
  